<!-- Navbar Start -->
<header id="topnav" class="defaultscroll sticky nav-sticky">
    <div class="container">
        <div>
            <a class="logo d-none d-md-block" href="#">
                Fast Functional Analysis
            </a>
            <a class="logo d-block d-md-none" href="#">
                FastFA
            </a>
        </div>
        <div class="float-right mt-3">
            <span class="badge badge-soft-success">

            </span>

            <a href="#" class="btn"
                [ngClass]="{'btn-soft-success': there_is_apikey(), 'btn-soft-danger': !there_is_apikey()}"
                (click)="toogle_modal_apikey()">
                <i class="uil uil-check-circle" *ngIf="there_is_apikey()"></i>
                <i class="uil uil-exclamation-triangle" *ngIf="!there_is_apikey()"></i>
                API Key
            </a>
        </div>
    </div>
</header>
<!-- Navbar End -->

<!-- Hero Start -->
<section class="bg-half-170  d-table w-100" id="home">
    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col-md-8 offset-md-2">
                <div class="mt-4 pt-2">

                    <div class="component-wrapper rounded shadow">
                        <div class="p-4 border-bottom">
                            <h4 class="title mb-0"> Companies </h4>
                        </div>

                        <div class="p-4">
                            <form [formGroup]="main_form" (ngSubmit)="start_analyze()">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <i class="icons uil uil-crosshair-alt"></i>
                                                <input class="form-control pl-5" placeholder="Ticker Target" formControlName="target">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <i class="icons uil uil-equal-circle"></i>
                                                <input class="form-control pl-5" placeholder="Ticker competitor 1" formControlName="comp1">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <i class="icons uil uil-equal-circle"></i>
                                                <input class="form-control pl-5" placeholder="Ticker competitor 2" formControlName="comp2">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary float-right" [disabled]="main_status == STATUS.Working">
                                            <span *ngIf="main_status != STATUS.Working">Analyze</span>
                                            <span *ngIf="main_status == STATUS.Working"><i class="uil uil-spinner loading"></i>
                                                Analyzing...</span>
                                        </button>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>

                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- Hero End -->

<div class="position-relative" *ngIf="main_status != STATUS.None">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<!-- Analysis Start -->
<section class="section bg-light" id="analysis" *ngIf="main_status != STATUS.None"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title">Analysis</h4>
                </div>
            </div>
        </div>

        <!-- Loader ------------------------------------->
        <div *ngIf="main_status == STATUS.Working">
            <div id="preloader">
                <div id="status">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="main_status == STATUS.Done">
            <!-- Values ---------------------------------->
            <div class="row mb-4">
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2" [@fadeInUpOnEnter]="{ value: '', params: { delay: 50 } }">
                    <div class="card counter-box border-0 bg-primary shadow text-center rounded">
                        <div class="card-body py-5">
                            <h2 class="mb-0 text-light title-dark"><small class="currency">$</small>{{get_target().price | number : '1.2-2'}}</h2>
                            <h5 class="counter-head text-light title-dark mb-0">Stock Price</h5>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2" [@fadeInUpOnEnter]="{ value: '', params: { delay: 75 } }">
                    <div class="card counter-box border-0 bg-primary shadow text-center rounded">
                        <div class="card-body py-5">
                            <h2 class="mb-0 text-light title-dark"><small class="currency">$</small>{{get_target().valueByHistorical | number : '1.2-2'}}</h2>
                            <h5 class="counter-head text-light title-dark mb-0">Value by historical</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2" [@fadeInUpOnEnter]="{ value: '', params: { delay: 100 } }">
                    <div class="card counter-box border-0 bg-primary shadow text-center rounded">
                        <div class="card-body py-5">
                            <h2 class="mb-0 text-light title-dark"><small class="currency">$</small>{{get_target().valueByIndustry | number : '1.2-2'}}</h2>
                            <h5 class="counter-head text-light title-dark mb-0">Value by industry</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2" [@fadeInUpOnEnter]="{ value: '', params: { delay: 125 } }">
                    <div class="card counter-box border-0 bg-primary shadow text-center rounded">
                        <div class="card-body py-5">
                            <h2 class="mb-0 text-light title-dark"><small class="currency">$</small>{{get_target().valueIntrinsic | number : '1.2-2'}}</h2>
                            <h5 class="counter-head text-light title-dark mb-0">Intrinsic Value</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ratios ---------------------------------->
            <div class="row justify-content-center mb-4" [@fadeInUpOnEnter]="{ value: '', params: { delay: 150 } }">
                <div class="col-12 ">
                    <div class="component-wrapper rounded shadow bg-white">
                        <div class="p-4 border-bottom">
                            <h4 class="title mb-0"> Ratios </h4>
                        </div>

                        <div class="">
                            <div class="table-responsive bg-white shadow rounded-bottom">
                                <table class="table mb-0 table-center">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col" *ngFor="let item of main_data">{{ item.ticker }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Liquidity -------------------------->
                                        <tr class="tr-head bg-light h4">
                                            <td>Liquidity</td>
                                            <td>
                                                <i class="uil uil-check-circle text-success" *ngIf="is_liquidity()"></i>
                                                <i class="uil uil-times-circle text-danger" *ngIf="!is_liquidity()"></i>
                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Current Ratio" prop="currentRatio"
                                            success=">=1" danger="<1"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Quick Ratio" prop="quickRatio"
                                            success=">=1" danger="<1"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Cash Ratio" prop="cashRatio"
                                            success=">=1" danger="<1"></tr>

                                        <!-- Solvency -------------------------->
                                        <tr class="tr-head bg-light h4">
                                            <td>Solvency</td>
                                            <td>
                                                <i class="uil uil-check-circle text-success" *ngIf="is_solvency()"></i>
                                                <i class="uil uil-times-circle text-danger" *ngIf="!is_solvency()"></i>
                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Debt/Equity" prop="debtEquity"
                                            success="<1" danger=">1"></tr>

                                        <!-- Efficiency ----------------------->
                                        <tr class="tr-head bg-light h4">
                                            <td>Efficiency</td>
                                            <td>
                                                <i class="uil uil-check-circle text-success" *ngIf="is_efficiency()"></i>
                                                <i class="uil uil-times-circle text-danger" *ngIf="!is_efficiency()"></i>
                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Inventory Turnover"
                                            prop="inventoryTurnover"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Days Inventory" prop="daysInventory">
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Assets Turnover" prop="assetTurnover">
                                        </tr>

                                        <!-- Profitability ---------------------->
                                        <tr class="tr-head bg-light h4">
                                            <td>Profitability</td>
                                            <td>
                                                <i class="uil uil-check-circle text-success"
                                                    *ngIf="is_profitability() == 0"></i>
                                                <i class="uil uil-exclamation-triangle text-warning"
                                                    *ngIf="is_profitability() == 1"></i>
                                                <i class="uil uil-times-circle text-danger"
                                                    *ngIf="is_profitability() == 2"></i>
                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Return on equity (%)"
                                            prop="returnOnEquity" success=">10" danger="<=10"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Net margin (%)" prop="netMargin"
                                            success=">10" danger="<=10"></tr>

                                        <!-- Valuation ------------------------->
                                        <tr class="tr-head bg-light h4">
                                            <td>Valuation</td>
                                            <td>
                                                <i class="uil uil-check-circle text-success" *ngIf="is_valuable()"></i>
                                                <i class="uil uil-times-circle text-danger" *ngIf="!is_valuable()"></i>
                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Price Earning" prop="priceEarnings"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Price Cash Flow" prop="priceCashFlow">
                                        </tr>
                                        <tr app-row-ratio [data]="main_data" name="Price Sales" prop="priceToSales"></tr>
                                        <tr app-row-ratio [data]="main_data" name="Price Book Value" prop="priceBookValue">
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Historical ---------------------------------->
            <div class="row justify-content-center" [@fadeInUpOnEnter]="{ value: '', params: { delay: 200 } }">
                <div class="col-12 ">
                    <div class="component-wrapper rounded shadow bg-white">
                        <div class="p-4 border-bottom">
                            <h4 class="title mb-0"> Historical ratios </h4>
                        </div>

                        <div class="">
                            <div class="table-responsive bg-white shadow rounded-bottom">
                                <table class="table mb-0 table-center">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">{{ get_target().ticker }}</th>
                                            <th scope="col">5 Years</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr app-row-hist [data]="get_target()" name="Price Earning" prop="priceEarnings">
                                        </tr>
                                        <tr app-row-hist [data]="get_target()" name="Price Sales" prop="priceToSales"></tr>
                                        <tr app-row-hist [data]="get_target()" name="Price Book Value"
                                            prop="priceBookValue"></tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Analysis End -->


<!-- Footer Start -->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-left">
                    <p class="mb-0">Made with ❤️ by <a href="https://linkedin.com/in/gianfranco-lombardo" target="_blank" class="text-reset">Glombardo</a></p>
                </div>
            </div>

            <div class="col-sm-6 text-right f-2">
                <a href="https://github.com/gianfrancolombardo/fast-functional-analysis" target="_blank" class="text-reset"><i class="uil uil-github"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Modal API Key -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [class.show]="show_modal_apikey">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-header">
                <h5 class="modal-title">API Key</h5>
                <button type="button" class="close" aria-label="Close" (click)="toogle_modal_apikey()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Hey! please entre your API Key</h5>
                <p>This web use data form <a href="https://site.financialmodelingprep.com/register">Financial Modeling
                        Prep</a>. Regrister <strong>free</strong> and enter the API key</p>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="position-relative">
                                <i class="icons uil uil-key-skeleton"></i>
                                <input class="form-control pl-5" placeholder="API Key" [(ngModel)]="apikey" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="save_apikey()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" *ngIf="show_modal_apikey"></div>